$bp1: 466px;
$bp2: 768px;

.inner {
	width: 100%
}

.backgroud {
    position: relative;
}

.figcap_homme {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.promo {
    color: white;
    background-color: $red_darker;
    position: absolute;
    top: 4em;
    right: 2em;
    border-radius: 10px;
    width: 200px;
    padding: 0.5rem;
    transform: rotate(30deg)
}

@media screen and (min-width: $bp1){
	.inner {
		width: $bp1;
		margin: 0 auto;
	}
}

@media screen and (min-width: $bp2){
	.inner {
		width: $bp2;
	}
    
    .figcap_homme {
        flex-direction: row;
        align-items: flex-end;
    }
}

.logo_and_rdv {
	display: flex;
    flex-direction: row;
	margin-bottom: 1rem;
    margin-top: 1rem;
}

.logo_texte, .button_rdv {
    width: 100%;
}

.div_logo_texte, .div_lien_rdv {
    width: 50%;
}

.img_experience {
    width: 100%;
}

.experience {
    width: 60%;
    margin: 0 auto;
}

.experiences {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 1rem;
}

.cryotherapie{
    order: 1;
}

.cryoplyse{
    order: 2;
}

.autre_soin{
    order: 3;
}

@media screen and (min-width: $bp1){
    
    .experiences {
        flex-direction: row;
    }

    .experience {
        width: 40%;
        margin: 0 auto;
    }

    .cryotherapie{
        order: 2;
    }

    .cryoplyse{
        order: 3;
    }

    .autre_soin{
        order: 1;
    }
    
    .logo_and_rdv {
        justify-content: space-between;
   }

    .div_logo_texte, .div_lien_rdv {
        width: 150px;
    }
}

@media screen and (min-width: $bp2){
       
    .experience {
        width: 30%;
        margin: 0 auto;
    }
}
