$bp1: 466px;
$bp2: 768px;

.inner {
	width: 100%
}

.backgroud_homme {
    width: 250%;
    margin: 0 0 0 -75%;
}

.backgroud {
    position: relative;
}

.figcap_homme {
    text-align: start;
    width: 100%;
    color: white;
    position: absolute;
    bottom: 20px;
    background-color: $white_light;
}

.promo {
    color: white;
    background-color: $red_darker;
    position: absolute;
    top: 10em;
    right: 2em;
    border-radius: 10px;
    width: 30%;
    transform: rotate(30deg)
}

@media screen and (min-width: $bp1){
	.inner {
		width: $bp1;
		margin: 0 auto;
	}
}

@media screen and (min-width: $bp2){
	.inner {
		width: $bp2;
	}
}

.logo_and_rdv {
	display: flex;
    flex-direction: row;
	margin-bottom: 1rem;
}

.logo_texte, .button_rdv {
    width: 100%;
}

.div_logo_texte, .div_lien_rdv {
    width: 50%;
}

.img_experience {
    width: 100%;
}

.experience {
    width: 60%;
    margin: 0 auto;
}

.experiences {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 1rem;
}

.cryotherapie{
    order: 1;
}

.cryoplyse{
    order: 2;
}

.autre_soin{
    order: 3;
}

@media screen and (min-width: $bp1){
    
    .experiences {
        flex-direction: row;
    }
    
    .backgroud_homme {
        width: 180%;
        margin: 0 -50%;
    }

    .experience {
        width: 40%;
        margin: 0 auto;
    }

    .cryotherapie{
        order: 2;
    }

    .cryoplyse{
        order: 3;
    }

    .autre_soin{
        order: 1;
    }

}

@media screen and (min-width: $bp2){
    
    .backgroud_homme {
        width: 150%;
        margin: 0 -50%;
    }
       
    .experience {
        width: 30%;
        margin: 0 auto;
    }
    
}
