$color: #00465b;
$azur: azure;

@font-face {
    font-family: 'Bernina';
    src: url('../fonts/BerninaSans-Web-CondensedBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GothamHTF";
    src: url('../fonts/GothamHTF-Book.ttf') format('truetype');
}


$font_principale: Bernina;

$white: white;
$brown_red: #a52a2a;
$red_darker: darken($brown_red, 10%);
$white_light: rgba( $white, .2);

@import 'reset';
@import 'menu';
@import 'layout';

body {
    color: $color;
    text-align: center;
    background-color: $azur;
    font-family: $font_principale;
}

.backgroud {
    background-image: url(../background.jpg);
    background-position: top 0 right 50%;
    background-size: cover;
    height: 400px;
}

.figcap_homme {
    font-size: 150%;
    padding-left: 2%;
    background-color: $white_light;
    text-align: start;
    width: 100%;
    color: white;
}

.figcap_homme #fig_caracteritiques{
    font-size: 60%;
}

.titre_ice, .experiences {
    font-family: "GothamHTF";
}

.titre_ice span {
    letter-spacing: .2rem;
}

.button_rdv {
    border: solid $color 2px;
    border-radius: 10px;
    background-color: $azur;
    padding: 10px;
    font-size: 150%;
}

.img_experience {
    border-radius: 100%;
}

.libelle_cryo {
    margin: 4% 0;
}

.titre_ice {
    text-align: start;
}

.backgroud_homme {
    width: 100%;
}

@media screen and (min-width: $bp1){
    .backgroud {
        height: 600px;
    }   
}

@media screen and (min-width: $bp2){
    .titre_ice {
        text-align: end;
    }
    
    .backgroud {
        height: 700px;
    }
}
