$color: #00465b;
$azur: azure;

@font-face {
font-family: 'Bernina';
src: url('fonts/BerninaSans-Web-CondensedBold.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

$font: 'Bernina';

$white: white;
$brown_red: #a52a2a;
$red_darker: darken($brown_red, 10%);
$white_light: rgba( $white, .2);

@import 'reset';
@import 'menu';
@import 'layout';

body {
    color: $color;
    text-align: center;
    background-color: $azur;
}

.figcap_homme {
    font-size: 150%;
}

.titre_ice, .experiences {
    font-family: $font;
}

.button_rdv {
    border: solid $color 2px;
    border-radius: 10px;
    background-color: $azur;
    padding: 10px;
    font-size: 150%;
}

.img_experience {
    border-radius: 100%;
}

.libelle_cryo {
    margin: 4% 0;
}

.titre_ice {
    text-align: start;
}

@media screen and (min-width: $bp2){
    .titre_ice {
        text-align: end;
    }
}
